<h1>ログイン</h1>
<%= form_tag '/login', :method => :post do %>
  <div class="field">
    <%= label_tag :"メールアドレス" %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :"パスワード" %><br />
    <%= password_field_tag :password %>
  </div>
    <div class="field">
    <%= check_box_tag :remember, params[:remember], true %>
    <%= label_tag :"入力内容を記憶する" %>
  </div>
  <div class="actions">
    <%= submit_tag "ログイン" %>
  </div>
<% end %>
